---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";
import Socials from "../components/Socials.astro";
import Avatar from "../components/Avatar.astro";
import Portrait from "../images/portrait.jpeg";
import professionalExperience from "../content/data/professional-experience.json";

const description =
  "The landing page for Jon Chong's personal blog, with a short section describing who he is and what he has done in his professional career.";
---

<Layout title="Home" description={description}>
  <div
    id="hero"
    class="flex flex-col lg:flex-row items-center bg-amber-400 dark:bg-amber-600 py-8 lg:py-0"
  >
    <div
      class="container flex justify-center lg:bg-amber-600 lg:dark:bg-amber-800 lg:py-36 py-8"
    >
      <Avatar />
    </div>
    <div class="container lg:pl-10 lg:py-0">
      <h1
        class="text-[4.5rem] text-zinc-900 leading-normal font-extrabold text-center"
      >
        Jon Chong
      </h1>
      <Socials />
    </div>
  </div>
  <article id="about-me" class="container mx-auto space-y-2 px-4 py-12">
    <div class="grid lg:grid-cols-3 gap-4">
      <div class="col-span-2">
        <header>
          <h2 class="text-3xl font-extrabold">Hi, I'm Jon 👋🏼</h2>
          <h3 class="text-xl font-bold text-zinc-500">
            Professional Software Engineer
          </h3>
        </header>
        <div class="space-y-2 col-span-2 mt-2">
          <h3 class="text-xl font-bold">About Me</h3>
          <p>
            My main areas of expertise are web development involving JavaScript,
            HTML, and CSS. I have worked with many modern frontend frameworks,
            including React, Angular, Svelte. I've also used backend frameworks
            such as Express and NestJS. I'm obsessed with optimizing websites by
            utilizing existing standards, and reducing JavaScript bundle size.
          </p>
          <p>Born & raised in the Bay Area, now living in New York.</p>
          <p>
            <strong
              >...and I am currently looking for a full-time position!</strong
            > Please reach out to me
            <Link href="mailto:jonchong56@gmail.com">here</Link>.
          </p>
        </div>
      </div>
      <figure class="flex flex-col">
        <img
          src={Portrait}
          alt="Portrait of Jon Chong"
          width="300"
          loading="lazy"
        />
        <figcaption>
          Fall in Central Park <span class="text-zinc-500 text-sm"
            >Image:
            <Link href="https://www.instagram.com/bradtna/" inNewTab>
              Bradtna Lou
            </Link></span
          >
        </figcaption>
      </figure>
    </div>
  </article>
  <hr class="lg:mx-8" />
  <section id="what-ive-done" class="container mx-auto space-y-2 px-4 py-12">
    <article>
      <h2 class="text-3xl font-extrabold pt-2">What I've Done</h2>
      <section>
        <h3 class="text-2xl font-bold mt-4">Professional Experience</h3>
        <div class="py-2 my-2 space-y-2">
          {
            professionalExperience.map((item) => (
              <details class="px-4 py-2">
                <summary class="font-semibold hover:cursor-pointer">
                  {item.company}{" "}
                  <span class="text-zinc-500 text-sm">
                    <time>{item.startDate}</time> - <time>{item.endDate}</time>
                  </span>
                </summary>
                <div class="px-4 py-2 space-y-4">
                  <em>{item.jobTitle}</em>
                  <div>
                    <h4 class="font-semibold">Responsibilities</h4>
                    <p>{item.responsibilities}</p>
                  </div>
                  <div class="grid gap-4 lg:grid-cols-3 grid-cols-1">
                    <div class="lg:col-span-2">
                      <h4 class="font-semibold">Achievements</h4>
                      <ul class="list-disc list-inside">
                        {item.achievements.map((achievement) => (
                          <li>{achievement}</li>
                        ))}
                      </ul>
                    </div>
                    <div>
                      <h4 class="font-semibold">Technologies</h4>
                      <ul class="list-disc list-inside">
                        {item.technologies.map((tech) => (
                          <li>{tech}</li>
                        ))}
                      </ul>
                    </div>
                  </div>
                </div>
              </details>
            ))
          }
        </div>
      </section>
      <section>
        <h3 class="text-2xl font-bold mt-4">Education</h3>
        <ul>
          <li>
            <div class="font-semibold">
              University of California, Santa Cruz
              <span class="text-zinc-500 text-sm">Jun 2020 - Jan 2023</span>
            </div>
            <p>B.S. Computer Science</p>
          </li>
        </ul>
      </section>
    </article>
  </section>
  <hr class="lg:mx-8" />
  <section
    id="selected-blog-posts"
    class="container mx-auto py-10 px-3 space-y-3"
  >
    <article>
      <h2 class="text-3xl font-extrabold pt-2">Selected Blog Posts</h2>
      <p class="py-4">🚧🚨 Under Construction 🚧🚨</p>
    </article>
  </section>
</Layout>
